<div id="about-us-page-container" class="text-center">
	<h2>SOBRE NOSOTROS</h2>
    <p class="lead">CubaModela es la Red Online de Profesionales de la industria de la moda y la fotografía en Cuba. Nuestra misión es conectar a modelos y fotógrafos cubanos con clientes nacionales e internacionales. Brindamos un espacio para la publicidad personalizada a través de los perfiles que constituirán el criterio fundamental de selección para encontrar trabajos.</p>
    <p class="lead">Adicionalmente, CubaModela brinda servicios especializados de apoyo a las producciones fotográficas, audiovisuales y eventos en la Isla. También acompañamos la estancia de profesionales de la industria extranjeros ofreciendo experiencias únicas que les ayudará a comprender la realidad cubana.</p>
</div>