<div id="about-us-page-container" class="text-center">
    <h2>ABOUT US</h2>
    <p class="lead">CubaModela is the Online Network of Professionals of the fashion and photography industry in Cuba. Our mission is to connect models and photographers from Cuba with national and international clients. We provide a space for personalized advertising through the profiles that will constitute the fundamental criterion of selection to find jobs.</p>
    <p class="lead">In addition, CubaModela provides specialized services in support of photographic, audiovisual and event productions on the Island. We also accompany the stay of foreign professionals offering unique experiences that will help them to understand the Cuban reality.</p>
</div>