<div id="img-list-container">
	<% @photographers.each do |photographer| %>
		<div class="img-thumbnail list-photo-item">
			<%= link_to(show_resume_profile_photographer_path(photographer), remote: true, class: "link-image") do %>
					<%= image_tag photographer.get_profile_picture_url(:medium), alt: "Model Photo", class: "img-circle" %>	
			<% end %>
		</div>
	<% end %>
</div>
<div id="profile-modal" class="modal fade"></div>
