<div class="row">
  <div class="col-md-12">
  	<div id="invite-castings-wrapper" class="well well-lg">
  		<h3 class="text-center"><%= t('views.castings.index_custom_invite.header_text') %></h3>
  		<div class="row text-center">
  			<div class="col-md-12">
	  			<% @castings.each do |casting| %>
					<%= link_to casting.title, invite_casting_path(casting, @profile), class: "btn btn-primary btn-block" %>
				<% end %>
	  		</div>
		</div>

		<div class="row model-bottom-actions">
  			<div class="col-md-12">
				<%= link_to t('forms.buttons.back'), profile_models_path, class: "btn btn-primary pull-right" %>
			</div>
  		</div>
  	</div>
  </div>
</div>