<div class="row">
  <div class="col-md-12">
  	<div id="form-new-casting-wrapper" class="well well-lg">
  		<h3 class="text-center">New Casting</h3>
  		<div class="row text-center">
  			<div class="col-md-12">
	  			<%= render 'form' %>
	  		</div>
		</div>

		<div class="row model-bottom-actions">
  			<div class="col-md-12">
				<%= link_to 'Castings', castings_path, class: "btn btn-success pull-right btn-small-right-margin" %>
			</div>
  		</div>
  	</div>
  </div>
</div>
