<div class="row">
  <div class="col-md-12">
  	<div id="form-new-casting-wrapper">
  		<h3 class="text-center"><%= t('views.castings.new.header_text') %></h3>
  		<div class="row">
  			<div class="col-md-12">
	  			<%= render 'form' %>
	  		</div>
		</div>

		<div class="row model-bottom-actions">
  			<div class="col-md-12">
				<%= link_to 'Castings', castings_path, class: "btn btn-primary pull-right btn-small-right-margin" %>
			</div>
  		</div>
  	</div>
  </div>
</div>
