<div class="row">
  <div class="col-md-12">
  	<div class="well-form well-medium">
  		<h3 class="text-center"><%= t('views.languages.new.header_text') %></h3>
	  	<%= render 'form', language: @language %>

		<%= link_to t('forms.buttons.back'), languages_path, class: "btn btn-primary pull-right" %>
      <div class="clearfix"></div>
  	</div>
  </div>
</div>
