<div class="row bg-primary message-section">
	<div class="col-md-11">
		<div class="text-center">
			<h2>Your profile have been reviewed and successfully published</h2>
		</div>
	</div>
	<div class="col-md-1">
		<div class="text-center">
			<%= button_to(message_path(@message), method: :delete, data: { confirm: 'Are you sure?' }, remote: true, class: "pull-right") do %>
			  <span class="glyphicon glyphicon-trash glyphicon-trash-blue" aria-hidden="true"></span>
			<% end %>
		</div>
	</div>
</div>

<div class="row message-section">
	<div class="col-md-12">
		<div class="text-justify">
			<p>Aqui un texto explicando y demas</p>
		</div>
	</div>
</div>

<div class="row message-section">
	<div class="col-md-12">
		<div class="text-center">
			<p><%= @message.asociateable.updated_at %></p>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<%= link_to "See profile", profile_model_path(@message.asociateable), class: "btn btn-primary pull-right btn-small-right-margin" %>
	</div>
</div>