<div class="row bg-primary message-section">
	<div class="col-md-11">
		<div class="text-center">
			<h2>SOORY Your profile can not be published due to some of next reasons</h2>
		</div>
	</div>
	<div class="col-md-1">
		<div class="text-center">
			<%= button_to(message_path(@message), method: :delete, data: { confirm: 'Are you sure?' }, remote: true, class: "pull-right") do %>
			  <span class="glyphicon glyphicon-trash glyphicon-trash-blue" aria-hidden="true"></span>
			<% end %>
		</div>
	</div>
</div>

<div class="row message-section">
	<div class="col-md-12">
		<div class="text-justify">
			<ul>
				<li>Reason 1</li>
				<li>Reason 1</li>
				<li>Reason 1</li>
				<li>Reason 1</li>
				<li>Reason 1</li>
				<li>Reason 1</li>
				<li>Reason 1</li>
			</ul>
		</div>
	</div>
</div>

<div class="row message-section">
	<div class="col-md-12">
		<div class="text-center">
			<p>algo mas</p>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<%= link_to "Edit profile", edit_profile_model_path(@message.asociateable), class: "btn btn-primary pull-right btn-small-right-margin" %>
	</div>
</div>