<div id="photo-modal-small" class="modal-dialog">
  <div class="modal-content">
  <div class="modal-header">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "cubamodela_logo_blue.png", width:"90", alt: "Logo" %>
    <% end %>
    <h3 class="text-center">How the different PROFILES works?</h3>
  </div>
  <div class="modal-body">
    <div class="active-scroll text-justify text-padding-space">
      <div class="row">
        <div class="col-md-12 col-xs-12">
          <span class="lead">Empleadores:</span> 
          <p>
            En la categoría empleador entran aquellos profesionales de la industria de la moda y la fotografía, así como otras organizaciones interesadas en contratar modelos. Únicamente desde este perfil será posible generar castings o hacer reservas directas a modelos y fotógrafos.
          </p>
        </div>
      </div>
      <br/>
      <div class="row">
        <div class="col-md-12 col-xs-12">
          <span class="lead">Modelos:</span>
          <p>
            Dentro de la categoría modelo entran aquellos modelos profesionales y nuevos rostros cuya intensión es acceder a castings o reservas directas en línea, así como ampliar su visibilidad y conectar con agencias y otros profesionales de la moda y la fotografía.
          </p>
        </div>
      </div>
      <br/>
      <div class="row">
        <div class="col-md-12 col-xs-12">
          <span class="lead">Fotógrafos:</span>
          <p>
            En la categoría fotógrafo entran aquellos fotógrafos cuya intención es promocionar su portafolio, sus ofertas de servicios especializados, así como acceder a clientes potenciales.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <%= link_to t('forms.buttons.close'), "#", class: "btn btn-primary", data: { dismiss: "modal" } %>
  </div>
  </div>
</div>