<% if @study.errors.any? %>
  <div class="alert alert-danger alert-messages-box text-center">
    <%= t('forms.errors.header_text') %> <%= pluralize(@study.errors.count, "error") %>.
    <ul>
    <% @study.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>