<div id="alert-messages-box" class="alert alert-success alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">
      &times;
    </span>
  </button>
  Album <%= text %>.
</div>