<% if edit %>
	<button id="btn-cancel-edit-album" type="button" class="btn btn-primary btn-xs"><%= t('forms.buttons.cancel') %></button>
<% else %>
	<button id="btn-cancel-new-album" type="button" class="btn btn-primary btn-xs"><%= t('forms.buttons.cancel') %></button>
<% end %>