<div class="row">
  <div class="col-md-12">
  	<div class="well-form well-medium">
  		<h3 class="text-center"><%= t('views.colors.edit.header_text') %></h3>
	  	<%= render 'form', color: @color %>
	  		
			<%= link_to t('forms.buttons.back'), colors_path, class: "btn btn-primary pull-right btn-small-right-margin" %>
			<%= link_to t('forms.buttons.show'), @color, class: "btn btn-primary pull-right btn-small-right-margin" %>
      <div class="clearfix"></div>
  	</div>
  </div>
</div>
