<div class="row" style="padding-left: 50px;">
	<div class="col-md-2">
		<%= image_tag child.fromable.get_profile_picture_url(:small), alt: "Model Photo", class: "img-center-horizontal img-responsive" %>
	</div>
	<div class="col-md-10">
		<blockquote>
		  <p><%= child.body %></p>
		</blockquote>
		<p class="small-date pull-right">
			<%= distance_of_time_in_words(child.created_at, Time.current) << t('datetime.distance_in_words.after_text_past') %>
		</p>
	</div>
</div>