<% if @photo.errors.any? %>
  <div class="alert alert-danger alert-messages-box text-center">
    The form contains <%= pluralize(@photo.errors.count, "error") %>.
    <ul>
    <% @photo.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>