<div id="photo-modal-large" class="modal-dialog">
  <div class="modal-content">
  <div class="modal-header">
    <h3>Remove photo</h3>
  </div>
  <div class="modal-body">
    <div id="model-modal-info-container"></div>
    <%= image_tag @photo.image.url, alt: @photo.image.url, class: "img-thumbnail img-responsive" %>
  </div>
  <div class="modal-footer">
    <div id="delete-photo-confirm-container">
      <p>Are you sure you wish to delete this photo?</p>
      <%= link_to 'Delete', @destroy_url, method: :delete, remote: true, class: "btn btn-danger" %>
      <button id="btn-cancel-delete-photo" type="button" class="btn btn-primary">Cancel</button>
    </div>
    <button id="btn-delete-photo" type="button" class="btn btn-danger">Delete</button>
    <%= link_to "Close", "#", class: "btn btn-danger", id: "btn-dismiss-show-photo", data: { dismiss: "modal" } %>
  </div>
  </div>
</div>