<h1 class="header text-center text-white"><%= t('views.mailers.global.user_friendly') %> <%= @admin.email.split("@")[0] %></h1>

<p><%= @body %></p>

<h3 class="text-center">Created at: <%= l(@created_at, format: :custom) %></h3>