/* Global */

body {
  /* Boostrap ScrollSpy requires position relative */
  position: relative;
  padding-top: 50px;

  /*Default font-family*/
  font-family: 'roboto-light' !important;
}

label.form-option{
	font-weight: lighter !important;
}

.checkbox-container label{
	font-weight: lighter !important;
}

p{
	font-family: 'roboto-light' !important;
}

.container-center-horizontal-medium{
	margin-top: 10%;
	margin-left: 20%;
	margin-right: 20%;
}

.container-center-horizontal-medium-small-top{
	margin-top: 5%;
	margin-left: 20%;
	margin-right: 20%;
}

.content-inline{
	display: inline !important;
}

.span-margin-left{
	margin-left: 20px;
}

.span-margin-bottom{
	margin-left: 20px;
}

h3 .small-info{
	font-size: 10px;
}

.relative-position{
	position: relative;
}

/* END Global */

/* Boostrap customization */

#main-container{
	/* Expand Boostrap container 100% */
	padding-left: 0px;
	padding-right: 0px;
}

.btn-primary, .btn-danger, .btn-success, .btn-info, .btn-warning, .navbar-btn, .btn-block{
	/* Make btn-xxx turn roboto white */
	color: #fff !important;
	font-family: 'roboto-light' !important;
}

.btn-primary{
	/* Make btn-primary flat square */
	background-image: none !important;
	border-color: transparent !important;
	box-shadow: none !important;
	border-radius: 0px !important;
}

.btn-default{
	/* Make btn-default flat square */
	background-image: none !important;
	border-color: transparent !important;
	box-shadow: none !important;
	border-radius: 0px !important;
	color: gray !important;
}

.btn-disabled{
	box-shadow: none !important;
	cursor: not-allowed !important;
	opacity: 0.65 !important;
}

.panel{
	/* Make panel-primary flat square */
	border-radius: 0px !important;
}

.panel-primary > .panel-heading{
	/* Make panel-primary flat square */
	background-image: none !important;
	border-top-left-radius: 0px !important;
	border-top-right-radius: 0px !important;
}

.panel-default > .panel-heading{
	/* Make panel-primary flat square */
	background-image: none !important;
	border-top-left-radius: 0px !important;
	border-top-right-radius: 0px !important;
}

.nav-pills > li{
	/* Make pills-primary flat square */
    color: #337ab7 !important;
    font-family: 'roboto-light' !important;
}

.nav-pills > li.active{
	/* Make pills-primary flat square */
    color: white !important;
}

.nav-pills > li > a{
	/* Make pills-primary flat square */
    border-radius: 0px !important;
}

.progress{
	/* Make progress-bar-primary flat square */
	border-radius: 0px !important;
}

.progress-bar{
	/* Make progress-bar-primary flat square */
	background-image: none !important;
}

.alert{
	/* Make alert flat square */
	border-radius: 0px !important;
	margin-bottom: 0px !important;
	color: white !important;
}

.alert-success{
	/* Make alert-success flat square */
	background-image: none !important;
	border-color: transparent !important;
	background-color: #5cb85c !important;
}

.alert-danger{
	/* Make alert-danger flat square */
	background-image: none !important;
	border-color: transparent !important;
	background-color: #d9534f !important;
}

.alert-warning{
	/* Make alert-danger flat square */
	background-image: none !important;
	border-color: transparent !important;
	background-color: #fcf8e3 !important;
}

.list-group{
	/* Make list-primary flat square */
	margin-bottom: 0px !important;
	border-radius: 0px !important;
}

.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
	/* Make list-primary flat square */
    background-image: none !important;
    border-color: transparent !important;
}

.list-group-item:first-child {
	/* Make list-primary flat square */
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
}

.list-group-item:last-child {
	/* Make list-primary flat square */
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}

.row-no-space, .cell-no-space{
	/* Make row and col to use all space available */
	margin: 0px !important;
	padding: 0px !important;
}

.row-white-border{
	border-color: white !important;
	border-width: 5px !important;
	border-style: solid !important;
	margin-right: 5px !important;
}

.row-small-padding-vertical{
	padding-top: 5px;
	padding-bottom: 5px;
}

.row-medium-padding-vertical{
	padding-top: 15px;
	padding-bottom: 15px;
}

/* END Boostrap customization */

/* Footer */
#footer{
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 100px;
	background-color: #337ab7;
	color: white;
	margin-top: 20px;
}

#footer a{
	color: white;
	text-decoration: none;
}

#footer a:hover{
	background-color: #337ab7;
}

/* END Footer */

/* Messages and Notifications */

.flash-messages-container .flash-message{
	margin-bottom: 0px !important;
}

#notification-messages-container{
	position: fixed;
	left: 0px;
	top: 51px;
	width: 100%;
}

/* END Messages and Notifications */

/* Home banner */

.carousel-caption a{
	margin-top: 30px;
	margin-bottom: 10px;
	font-size: 30px !important;
}

/* END Home banner */

/* Home page */

#sign-up-home-page-panel-body-container{
	/* Add padding to sign up form */
	padding-left: 40px;
	padding-right: 40px;
}

#user_kind{
	/* Add 50% width to sign up form kind field */
	width: 60% !important;
}

#home-line-users-amounts-container{
	/* Section count of user line */
	height: 90px;
	background-color: #337ab7;
	color: white;
}

#home-line-users-amounts-container h2{
	/* Section count of user line */
	font-size: 35px !important;
}

#models-container{
	/* Section models */
	background: url(/assets/home_page_section_models_bkg_1.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-color: #337ab7;
	min-height: 951px;
}

#models-container > #models-footer{
	/* Section models */
	padding-top: 60%;
}

#models-container > #models-footer > a{
	/* Section models */
	font-size: 30px;
}

#photographers-container{
	/* Section photographers */
	color: white;
	position: relative;
}

#photographers-container > #photographers-header{
	/* Section photographers */
	background-color: #337ab7;
	padding-top: 30px; 
	padding-bottom: 30px;
	font-size: 50px;
	margin-top: 0px !important;
	margin-bottom: 0px !important;
}

#photographers-container > a{
	/* Section photographers */
	position: absolute;
	top: 80%;
	left: 45%;
	font-size: 30px;
}

/* END Home page */

#contact-left-text{
	display: inline-block;
	position: absolute;
	top: 20%;
	left: 7%;
}

#contact-left-text p{
	color: white;
	font-size: 35px;
}

#contact-left-text a{
	color: white;
	font-size: 35px;
}

#contact-right-text{
	display: inline-block;
	position: absolute;
	top: 10%;
	right: 7%;
}

#contact-right-text p{
	color: white;
	font-size: 35px;
}

/* Contact page */


/* END Contact page */

/* Navbar */

#navbar-signed-in-settings-container{
	/* Navbar user signed in container, add some right Add padding */
	padding-right: 10px;
}

.navbar-default{
	/* Make navbar flat square */
	background-image: none !important;
	background-color: #f8f8f8 !important;
}

#navbar-admin-email{
	margin-right: 20px;
}

/* END Navbar */

/* Forms and Tables */

.well-form{
	margin-top: 30px;
}

.well-small{
	margin-left:40%;
	margin-right:40%;
}

.well-medium{
	margin-left:30%;
	margin-right:30%;
}

.well-large{
	margin-left:20%;
	margin-right:20%;
}

.form-border{
	border: 2px solid #e7e7e7;
	margin-bottom: 5px;
}

.well-border{
	border: 2px solid #e7e7e7;
	margin-bottom: 5px;
	padding: 20px;
}

.form-wrapper-small{
	padding-left: 30px;
	padding-right: 30px;
	padding-bottom: 30px;
	padding-top: 30px;
}

.form-wrapper-medium{
	padding-left: 50px;
	padding-right: 50px;
	padding-bottom: 50px;
	padding-top: 30px;
}

.form-wrapper-large{
	padding-left: 70px;
	padding-right: 70px;
	padding-bottom: 70px;
	padding-top: 30px;
}

.field_with_errors{
	/* Form fields with errors turn red */
	padding: 0px !important;
  	background-color: transparent !important;
  	display: block !important;
}

.field_with_errors label{
	/* Form fields with errors turn red */
	color: #a94442;
}

.field_with_errors .form-control{
	/* Form fields with errors turn red */
	border-color: #a94442;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}

.field_with_errors .form-control:focus{
	/* Form fields with errors turn red */
	border-color: #843534;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 6px #ce8483;
}

.field_with_errors select{
	/* Form fields with errors turn red */
	border-color: #a94442;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}

.field_with_errors select{
	/* Form fields with errors turn red */
	border-color: #843534;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 6px #ce8483;
}

/* END Forms and Tables */

/* Profile */

#profile-main-menu-container{
	/* Add padding to profile menu */
	padding-left: 15%;
	padding-right: 15%;
	padding-bottom: 10px;
}

#profile_model_current_province_id{
	/* Add 100% width to select province */
	width: 100% !important;
}

#profile_model_nationality_id{
	/* Add 100% width to select nationality */
	width: 100% !important;
}

.profile-album-photos-container{
	/* Adding scrollable area to album container */
	max-height: 300px;
	overflow-y: scroll;
}

.panel-study{
	margin-bottom: 5px !important;
}

.row-profile-container{
	margin-left: 10% !important;
	margin-right: 10% !important;
}

.profile-section{
	border-style: solid;
	border-width: 1px;
	border-color: #e7e7e7;
	margin-top: 5px;
	margin-bottom: 5px;
	padding: 10px !important;
}

.nav-profile{
	width: inherit !important;
}

#profile-photo-selected-container{
}

.profile-photo-selected{
}

#profile-photos-selected{
	min-height: 200px;
}

.profile-section > .item{
	position: relative;
    transition: left 0.6s ease-in-out 0s;
}

.row-profile-imgs{
	padding: 1px !important;
}

.col-profile-imgs:nth-child(2){
	padding-left: 2px;
	padding-right: 2px;
}

.col-profile-imgs:first-child{
	padding-right: 2px !important;
}

.col-profile-imgs:last-child{
	padding-left: 2px !important;
}

.profile-photo{
	margin: 3px !important;
}

.profile-value{
	font-size: 14px;
}

#profile-first-name{
	margin-top: 0px !important;
	margin-bottom: 0px !important;
}

#review-form{
	padding-left: 5%;
	padding-right: 5%;
}

#form-search-container{
	margin: 20px;
	padding: 20px;
	border-style: solid;
	border-width: 1px;
	border-color: #e7e7e7;
}

.profile-study-short{
	margin-bottom: 10px;
	padding: 3px;
	padding-left: 10px;
	border-left: 5px solid #eeeeee; 
}

.text-before::before{
    content: "— ";
}

#btn-upgrade-level{
	margin-left: 30%;
}

.img-wrapper{
	position: relative !important;
}

.profile-status{
	position: absolute;
	top: 7px;
	right: 7px;
}

.premium-border{
	border: solid 2px yellow;
}

/* END Profile */

/* Dates */

.small-date{
	font-size: 10px;
}

/* END Dates */

/* Dropzone */

.dropzone{
	border: 2px dashed #0087f7 !important;
}

/* END Dropzone */

/* Modal */

#photo-modal-large{
	/* Show photo wide */
	width: auto;
	margin-left: 100px;
	margin-right: 100px;
}

#photo-modal-medium{
	/* Show photo wide */
	width: auto;
	margin-left: 150px;
	margin-right: 150px;
}

/* END Modal */

/* Index images list */

#img-list-container{
	/* Add padding to images list */
	padding: 20px;
}

.list-photo-item{
	/* Add margin-right to image in images list */
	margin-right: 20px;
}

a.link-image:hover{
	/* Images no hover */
	background-color: transparent !important;
	border-color: transparent !important;
	color: transparent !important;
}

/* END Index images list */

/* Center content */

.img-center-horizontal{
	margin: 0 auto !important;
}

.btn-center-horizontal{
	margin: 0 auto !important;
}

.content-center-horizontal{
	margin: 0 auto !important;
}

.content-vertical-align{
	display: flex !important;
	align-items: center !important;
}

.img-vertical-align{
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

.container-min-height{
	min-height: 450px;
}

/* END Center content */

.img-focus:hover{
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 6px #337ab7; 
}

#us-container{
	background: url(/assets/10.JPG) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-color: #337ab7;
	padding-bottom: 20px;
	color: white;
}

#us-container > #us-header{
	padding-top: 30px; 
	padding-bottom: 10px;
}

#us-container #us-text-0{
	font-family: 'adventpro-bold' !important;
	font-size: 45px;
}

#us-container #us-text-1{
	font-family: 'adventpro-bold' !important;
	font-size: 40px;
}

#us-container #us-text-2{
	font-family: 'adventpro-semibold' !important;
	font-size: 30px;
	width: 60%; 
	margin: 0 auto;
}

#cuba-container{
	background: url(/assets/15.JPG) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-color: #337ab7;
	color: grey;
	padding-top:10px; 
	padding-bottom: 40px;
}

#cuba-container > #cuba-header{
	padding-top: 30px; 
	padding-bottom: 10px;
}

/*#cuba-container img{
	position: absolute;
	top: 0px;
	left: 0px;
}
*/

#cuba-container > #cuba-footer{
	font-size: 30px;
}

/* Inbox */

.message-created-at{
	font-size: 12px;
	margin-left: 5px;
}

#messages-container{
	margin-bottom: 30px;
}

#inbox-actions-container{
	background-color: #e7e7e7;
	padding: 10px 20px;
	margin-bottom: 20px;
}

#messages-list-container{
	max-height: 450px;
	overflow-y: scroll;
}

.inbox-message-unreaded-bkg{
	background-color: #e7e7e7 !important;
}

#current-message-container{
	padding: 20px 40px;
	min-height: 450px;
	max-height: 450px;
	overflow-y: scroll;
}

#current-message-container p{
	font-size: 20px !important;
}

#current-message-container .message-section{
	margin-bottom: 40px;
}

#current-message-container button{
	margin-top: 50% !important;
}

.glyphicon-trash-blue{
	color: #337ab7 !important;
}

.message-header{
	padding: 15px;
}

/* END Inbox */

/* Booking */

#form-new-booking-wrapper{
	margin-top:5%;
	margin-left:10%;
	margin-right:10%;
}

#form-booking-container{
	margin-top: 40px;
	margin-left:15%;
	margin-right:15%;
}

.confirmed-bkg{
	background-color: #e8e8e8;
}

/* END Booking */

/* Casting */

#form-new-casting-wrapper, #form-casting-photos-wrapper{
	margin-top:5%;
	margin-left:10%;
	margin-right:10%;
}

#invite-castings-wrapper{
	margin-top:5%;
	margin-left:30%;
	margin-right:30%;
}

#form-casting-container{
	margin-top: 40px;
	margin-left:15%;
	margin-right:15%;
}

#list-castings-container{
	margin: 20px 20% !important;
}

#list-castings-load-more{
	padding: 20px 10px;
	margin: 10px 10px;
}

.single-casting-container{
	padding: 20px 40px;
	border-style: solid;
	border-width: 2px;
	border-color: #e7e7e7;
}

.single-casting-container p{
	font-size: 16px;
}

.single-casting-container a{
	margin-right: 5px;
}

.casting-title{
	margin-bottom: 20px;
}

.model-bottom-actions{
	margin-top: 20px !important;
}

.btn-small-right-margin{
	margin-right: 5px !important;
}

.img-inline{
	display: inline-block;
}

.div-inline{
	display: inline-block;
	margin-right: 3px;
}

.link-inline{
	display: inline-block;
	margin-right: 3px;
}

.small-gray-text{
	color: #777777;
    font-size: 90% !important;
}

#manage-casting-container{
	margin-bottom: 30px;
}

#actions-container{
	background-color: #e7e7e7;
	padding: 10px 20px;
	margin-bottom: 20px;
}

#list-container{
	padding: 50px 10px;
	background-color: #e7e7e7;
}

#current-list-item-container{
	padding: 20px 40px;
	min-height: 450px;
	max-height: 450px;
	overflow-y: scroll;
}

#empty-list-text-container{
	margin-top: 10%;
}

#models-invite-load-more{
	margin-top: 40px;	
}

.translated-text{
	font-size: 17.5px;
    margin: 0 0 20px;
    padding: 10px 20px;
}

.translated-text .title{
	font-size: 25px;
}

.translated-text p{
	font-size: 20px;
}

.translated-text footer{
	color: #777777;
    display: block;
    font-size: 80%;
    line-height: 1.42857;
}

.translated-text footer::before{
    content: "— ";
}

.tag{
	margin-left: 3px;
	padding: 5px;
	border-style: solid;
	border-width: 2px;
	border-color: #e7e7e7;
}

#dates-warning-text{
	margin-bottom: 20px !important; 
}

#casting-reviews-container{
	margin-top: 20px;
	margin-left: 15%;
	margin-right: 15%;
}

#casting-models-reviews-container{
	margin-top: 40px;
	margin-left: 25%;
	margin-right: 15%;
}

/* END Casting */

/* For Nomenclators */ 
.panel-nomenclator{
	margin:30px;
}

.panel-body-nomenclator{
	padding-left:100px;
	padding-right:100px;
}

.panel-table{
	margin:30px;
}

.panel-body-table{
	padding-left:100px;
	padding-right:100px;
}

/* Admin */

.admin-margin-medium{
	margin: 50px !important;
}

#values_how_many{
	width: 100px !important;
}

#values_amount{
	width: 100px !important;
}

/* END Admin */

/* Coupons */

.coupon-section{
	width: 70px !important;
}

/* END Coupons */



