/* Global */

body {
  /* Boostrap ScrollSpy requires position relative */
  position: relative;
  padding-top: 50px;

  /*Default font-family*/
  font-family: 'roboto-light' !important;
}

/* Mobile */
@media only screen and (min-width : 300px) and (max-width : 767px) {

	#subscribe-container{
		background-color: mix(#265a88, black, 50%); /*rgba(38, 90, 136, 1);*/
		min-height: 1000px;
	}

	#subscribe-container #home-subscribe-form-container{
		position: absolute;
		top: 48%;
		right: 3%;
	}

	#subscribe-form-header{
		position: absolute;
		top: 42%;
		right: 10%;
		color: white;
	}

	#sign-up-home-page-panel-body-container{
		/* Add padding to sign up form */
		padding-left: 40px;
		padding-right: 40px;
	}

	#user_kind{
		/* Add 50% width to sign up form kind field */
		width: 60% !important;
	}

	#home-subscribe-form-container p{
		font-size: 12px !important;
	}

	#home-subscribe-form-container a{
		font-size: 12px !important;
	}

	#home-subscribe-form-container .panel-footer{
		padding-top: 2px !important;
	}

	#subscribe-header{
		position: absolute;
		top: 3%;
		left: 1%;
		color: white;
		width: 90%;
	}

	#subscribe-subheader{
		position: absolute;
		top: 16%;
		left: 1%;
		color: white;
		width: 90%;
	}

	#subscribe-subheader-2{
		position: absolute;
		top: 27%;
		left: 1%;
		color: white;
		width: 90%;
	}

	#subscribe-subheader-3{
		position: absolute;
		top: 37%;
		left: 1%;
		color: white;
		width: 90%;
		font-size: 16px;
		padding-left: 2%;
	}

	.btn-home{
		color: #fff !important;
		background-color: transparent;
		cursor: pointer;
	    display: inline-block;
	    font-size: 8px !important;
	    font-weight: normal;
	    line-height: 1.42857;
	    margin-bottom: 0;
	    padding: 5px 10px !important;
	    text-align: center;
	    vertical-align: middle;
	    white-space: nowrap;
	    text-decoration: none;
	    border: 1px solid white !important;
	}

	.btn-article{
		color: #337ab7 !important;
		background-color: transparent;
		cursor: pointer;
	    display: inline-block;
	    font-size: 12px !important;
	    font-weight: normal;
	    line-height: 1.42857;
	    margin-bottom: 0;
	    padding: 5px 10px !important;
	    text-align: center;
	    vertical-align: middle;
	    white-space: nowrap;
	    text-decoration: none;
	    border: 1px solid #337ab7 !important;
	}

	#home-line-users-amounts-container-auth-true{
		/* Section count of user line */
		height: 50px !important;
		background-color: #0071bc;
		color: white;
	}

	#home-line-users-amounts-container-auth-true h2{
		/* Section count of user line */
		font-size: 14px !important;
	}

	#home-line-users-amounts-container-auth-false{
		/* Section count of user line */
		height: 30px !important;
		background-color: white;
		color: #0071bc;
	}

	#home-line-users-amounts-container-auth-false h2{
		/* Section count of user line */
		font-size: 14px !important;
	}

	#models-container > #models-header{
		height: 45px !important;
	}

	#models-container > #models-header > h2{
		color: #0071bc;
		padding-top: 0px !important;
		padding-bottom: 0px !important;
		margin-top: 0px !important;
		margin-bottom: 0px !important;
		line-height: 40px !important;
	}

	#us-container > #us-body p{
		font-size: 8px !important;
	}

	#us-container > #us-footer{
		position: absolute;
		top: 75% !important;
		left: 40%;
	}

	#partners-container{
		background-color: white;
		padding-bottom: 15px;
	}

	#partners-container > #partners-header > h2{
		color: #0071bc;
		padding-top: 20px !important;
		padding-bottom: 0px !important;
		margin-top: 0px !important;
		margin-bottom: 0px !important;
		line-height: 50px !important;
	}

	.partner-row{
		padding: 3px 10px !important;
	}

	.partner-cell{
		padding: 3px 10px !important;
	}

	.partner-container{
		padding: 3px 10px !important;
	}

	.partner-logo{
		padding: 5px 12px !important;
		margin-bottom: 5px;
	}

	.partner-ocupation{
		color: #0071bc;
		font-size: 16px !important;
	}

	.partner-name{
		color: grey;
		font-size: 16px !important;
		margin-bottom: 10px;
	}

	.partner-link{
		margin-bottom: 10px;
	}

	.partner-container .btn-primary{
		font-size: 10px !important;
	}

	#gallery-home-container > #gallery-home-footer{
		position: absolute;
		top: 75% !important;
		left: 30% !important;
	}

	.btn-gallery{
		color: #fff !important;
		background-color: transparent;
		cursor: pointer;
	    display: inline-block;
	    font-size: 20px !important;
	    font-weight: normal;
	    line-height: 1.42857;
	    margin-bottom: 0;
	    padding: 5px 12px !important;
	    text-align: center;
	    vertical-align: middle;
	    white-space: nowrap;
	    text-decoration: none;
	    border: 1px solid white !important;
	}

	#footer{
		padding-top: 20px;
		padding-bottom: 20px;
		padding-left: 5px !important;
		background-color: #337ab7;
		color: white;
		margin-top: 0px;
		font-size: 12px;
	}

	#footer-logo-container img{
		width: 100px !important;
		margin-bottom: 10px;
	}

	#footer .img-footer{
		width: 32px;
	}

	#footer .col-xs-2, #footer .col-xs-4{
		float: none !important;
		width: 100% !important;
		text-align: center;
	}

	#photo-modal-large{
		/* Show photo wide */
		width: auto !important;
		margin-left: 10px !important;
		margin-right: 10px !important;
	}

	#photo-modal-medium{
		/* Show photo wide */
		width: auto !important;
		margin-left: 15px !important;
		margin-right: 15px !important;
	}

	#photo-modal-small{
		/* Show photo wide */
		width: auto;
		margin-left: 20px !important;
		margin-right: 20px !important;
	}
}

/* Tablets */
@media only screen and (min-width : 768px) and (max-width : 1223px) {
    #subscribe-container{
		background-color: mix(#265a88, black, 50%); /*rgba(38, 90, 136, 1);*/
		min-height: 620px;
	}

	#subscribe-form-header{
		position: absolute;
		top: 5%;
		right: 10%;
		color: white;
	}

    #subscribe-container #home-subscribe-form-container{
		position: absolute;
		top: 15%;
		right: 3%;
	}

	#sign-up-home-page-panel-body-container{
		/* Add padding to sign up form */
		padding-left: 40px;
		padding-right: 40px;
	}

	#user_kind{
		/* Add 50% width to sign up form kind field */
		width: 60% !important;
	}

	#home-subscribe-form-container p{
		font-size: 12px !important;
	}

	#home-subscribe-form-container a{
		font-size: 12px !important;
	}

	#home-subscribe-form-container .panel-footer{
		padding-top: 2px !important;
	}

	#subscribe-header{
		position: absolute;
		top: 15%;
		left: 5%;
		color: white;
		width: 40%;
	}

	#subscribe-subheader{
		position: absolute;
		top: 37%;
		left: 5%;
		color: white;
		width: 40%;
	}

	#subscribe-subheader-2{
		position: absolute;
		top: 55%;
		left: 5%;
		color: white;
		width: 40%;
	}

	#subscribe-subheader-3{
		position: absolute;
		top: 77%;
		left: 5%;
		color: white;
		width: 40%;
		font-size: 18px;
	}

	.btn-home{
		color: #fff !important;
		background-color: transparent;
		cursor: pointer;
	    display: inline-block;
	    font-size: 10px !important;
	    font-weight: normal;
	    line-height: 1.42857;
	    margin-bottom: 0;
	    padding: 7px 15px !important;
	    text-align: center;
	    vertical-align: middle;
	    white-space: nowrap;
	    text-decoration: none;
	    border: 2px solid white !important;
	}

	.btn-article{
		color: #337ab7 !important;
		background-color: transparent;
		cursor: pointer;
	    display: inline-block;
	    font-size: 16px !important;
	    font-weight: normal;
	    line-height: 1.42857;
	    margin-bottom: 0;
	    padding: 7px 15px !important;
	    text-align: center;
	    vertical-align: middle;
	    white-space: nowrap;
	    text-decoration: none;
	    border: 2px solid #337ab7 !important;
	}

	#home-line-users-amounts-container-auth-true{
		/* Section count of user line */
		height: 60px !important;
		background-color: #0071bc;
		color: white;
	}

	#home-line-users-amounts-container-auth-true h2{
		/* Section count of user line */
		font-size: 20px !important;
	}

	#home-line-users-amounts-container-auth-false{
		/* Section count of user line */
		height: 55px !important;
		background-color: white;
		color: #0071bc;
	}

	#home-line-users-amounts-container-auth-false h2{
		/* Section count of user line */
		font-size: 20px !important;
	}

	#models-container > #models-header{
		height: 50px !important;
	}

	#models-container > #models-header > h2{
		color: #0071bc;
		padding-top: 0px !important;
		padding-bottom: 0px !important;
		margin-top: 0px !important;
		margin-bottom: 0px !important;
		line-height: 50px !important;
	}

	#us-container > #us-body p{
		font-size: 12px !important;
	}

	#partners-container{
		background-color: white;
		padding-bottom: 15px;
	}

	#partners-container > #partners-header > h2{
		color: #0071bc;
		padding-top: 20px !important;
		padding-bottom: 0px !important;
		margin-top: 0px !important;
		margin-bottom: 0px !important;
		line-height: 50px !important;
	}

	.partner-row{
		padding: 7px 20px !important;
	}

	.partner-cell{
		padding: 7px 30px !important;
	}

	.partner-container{
		padding: 7px 15px !important;
	}

	.partner-logo{
		padding: 10px 15px !important;
		margin-bottom: 7px;
	}

	.partner-ocupation{
		color: #0071bc;
		font-size: 18px !important;
	}

	.partner-name{
		color: grey;
		font-size: 18px !important;
		margin-bottom: 20px;
	}

	.partner-link{
		margin-bottom: 20px;
	}

	.partner-container .btn-primary{
		font-size: 12px !important;
	}

	#gallery-home-container > #gallery-home-footer{
		position: absolute;
		top: 75% !important;
		left: 35% !important;
	}

	.btn-gallery{
		color: #fff !important;
		background-color: transparent;
		cursor: pointer;
	    display: inline-block;
	    font-size: 22px !important;
	    font-weight: normal;
	    line-height: 1.42857;
	    margin-bottom: 0;
	    padding: 7px 15px !important;
	    text-align: center;
	    vertical-align: middle;
	    white-space: nowrap;
	    text-decoration: none;
	    border: 2px solid white !important;
	}

	#footer{
		padding-top: 20px;
		padding-bottom: 20px;
		padding-left: 30px !important;
		background-color: #337ab7;
		color: white;
		margin-top: 0px;
	}

	#footer-logo-container img{
		width: 100px !important;
	}

	#photo-modal-large{
		/* Show photo wide */
		width: auto !important;
		margin-left: 20px !important;
		margin-right: 20px !important;
	}

	#photo-modal-medium{
		/* Show photo wide */
		width: auto !important;
		margin-left: 25px !important;
		margin-right: 25px !important;
	}

	#photo-modal-small{
		/* Show photo wide */
		width: auto;
		margin-left: 30px !important;
		margin-right: 30px !important;
	}
}

/* Desktops and Laptops */
@media only screen and (min-width : 1224px) and (max-width : 1823px) {
    body{
    	margin-left: 0.5% !important;
    	margin-right: 0.5% !important;
    }

    .navbar{
    	margin-left: 0.5% !important;
    	margin-right: 0.5% !important;
    }

    #subscribe-container{
		background-color: mix(#265a88, black, 50%); /*rgba(38, 90, 136, 1);*/
		min-height: 620px;
	}

	#subscribe-form-header{
		position: absolute;
		top: 5%;
		right: 10%;
		color: white;
	}

    #subscribe-container #home-subscribe-form-container{
		position: absolute;
		top: 15%;
		right: 3%;
	}

	#sign-up-home-page-panel-body-container{
		/* Add padding to sign up form */
		padding-left: 40px;
		padding-right: 40px;
	}

	#user_kind{
		/* Add 50% width to sign up form kind field */
		width: 60% !important;
	}

	#home-subscribe-form-container p{
		font-size: 12px !important;
	}

	#home-subscribe-form-container a{
		font-size: 12px !important;
	}

	#home-subscribe-form-container .panel-footer{
		padding-top: 2px !important;
	}

	#subscribe-header{
		position: absolute;
		top: 15%;
		left: 10%;
		color: white;
		width: 40%;
	}

	#subscribe-subheader{
		position: absolute;
		top: 35%;
		left: 10%;
		color: white;
		width: 40%;
	}

	#subscribe-subheader-2{
		position: absolute;
		top: 45%;
		left: 10%;
		color: white;
		width: 40%;
	}

	#subscribe-subheader-3{
		position: absolute;
		top: 60%;
		left: 10%;
		color: white;
		width: 40%;
		font-size: 18px;
	}

    #us-container > #us-body p{
		font-size: 18px !important;
	}

    #partners-container{
		background-color: white;
		padding-bottom: 30px;
	}

	#partners-container > #partners-header > h2{
		color: #0071bc;
		padding-top: 30px !important;
		padding-bottom: 0px !important;
		margin-top: 0px !important;
		margin-bottom: 0px !important;
		line-height: 100px;
	}

	.partner-row{
		padding: 10px 30px !important;
	}

	.partner-cell{
		padding: 20px 60px !important;
	}

	.partner-container{
		padding: 10px 20px !important;
	}

	.partner-logo{
		padding: 20px 40px !important;
		margin-bottom: 15px;
	}

	.partner-ocupation{
		color: #0071bc;
		font-size: 20px;
	}

	.partner-name{
		color: grey;
		font-size: 18px;
		margin-bottom: 20px;
	}

	.partner-link{
		margin-bottom: 20px;
	}
}

/* Large screens */
@media only screen and (min-width : 1824px) and (max-width : 4000px) {
    body{
    	margin-left: 15% !important;
    	margin-right: 15% !important;
    }

    .navbar{
    	margin-left: 15% !important;
    	margin-right: 15% !important;
    }

    #subscribe-container{
		background-color: mix(#265a88, black, 50%); /*rgba(38, 90, 136, 1);*/
		min-height: 620px;
	}

	#subscribe-form-header{
		position: absolute;
		top: 5%;
		right: 10%;
		color: white;
	}

    #subscribe-container #home-subscribe-form-container{
		position: absolute;
		top: 15%;
		right: 3%;
	}

	#sign-up-home-page-panel-body-container{
		/* Add padding to sign up form */
		padding-left: 40px;
		padding-right: 40px;
	}

	#user_kind{
		/* Add 50% width to sign up form kind field */
		width: 60% !important;
	}

	#home-subscribe-form-container p{
		font-size: 12px !important;
	}

	#home-subscribe-form-container a{
		font-size: 12px !important;
	}

	#home-subscribe-form-container .panel-footer{
		padding-top: 2px !important;
	}

	#subscribe-header{
		position: absolute;
		top: 15%;
		left: 10%;
		color: white;
		width: 40%;
	}

	#subscribe-subheader{
		position: absolute;
		top: 35%;
		left: 10%;
		color: white;
		width: 40%;
	}

	#subscribe-subheader-2{
		position: absolute;
		top: 45%;
		left: 10%;
		color: white;
		width: 40%;
	}

	#subscribe-subheader-3{
		position: absolute;
		top: 60%;
		left: 10%;
		color: white;
		width: 40%;
		font-size: 18px;
	}

    #us-container > #us-body p{
		font-size: 18px !important;
	}

    #partners-container{
		background-color: white;
		padding-bottom: 30px;
	}

	#partners-container > #partners-header > h2{
		color: #0071bc;
		padding-top: 30px !important;
		padding-bottom: 0px !important;
		margin-top: 0px !important;
		margin-bottom: 0px !important;
		line-height: 100px;
	}

	.partner-row{
		padding: 10px 30px !important;
	}

	.partner-cell{
		padding: 20px 60px !important;
	}

	.partner-container{
		padding: 10px 20px !important;
	}

	.partner-logo{
		padding: 20px 40px !important;
		margin-bottom: 15px;
	}

	.partner-ocupation{
		color: #0071bc;
		font-size: 20px;
	}

	.partner-name{
		color: grey;
		font-size: 18px;
		margin-bottom: 20px;
	}

	.partner-link{
		margin-bottom: 20px;
	}
}

label.form-option{
	font-weight: lighter !important;
}

.checkbox-container label{
	font-weight: lighter !important;
}

p{
	font-family: 'roboto-light' !important;
}

.container-center-horizontal-medium{
	margin-top: 10%;
	margin-left: 20%;
	margin-right: 20%;
}

.container-center-horizontal-medium-small-top{
	margin-top: 5%;
	margin-left: 20%;
	margin-right: 20%;
}

.container-center-horizontal-large-small-top{
	margin-top: 5%;
	margin-left: 10%;
	margin-right: 10%;
}

.content-inline{
	display: inline !important;
}

.span-margin-left{
	margin-left: 20px;
}

.span-margin-bottom{
	margin-left: 20px;
}

h3 .small-info{
	font-size: 10px;
}

.relative-position{
	position: relative;
}

#yield-container{
	min-height: 450px;
}

.active-scroll{
	max-height: 400px;
	overflow-y: scroll;
	overflow-x: hidden;
}

.text-padding-space{
	padding-left: 10px;
	padding-right: 20px;
}

/* END Global */

/* Spinner */

#spinner-container{
	position: fixed;
	top: 50px;
	width: 100%;
	z-index: 1030;
	padding-top: 10px;
  	padding-bottom: 10px;
  	background: rgba(0, 0, 0, .2);
}

.spinner {
  	margin: 3px auto;
  	width: 100%;
  	height: 60px;
  	text-align: center;
  	font-size: 10px;
}

.spinner > div {
	background-color: #337ab7;
	height: 100%;
	width: 8px;
	display: inline-block;
	  
	-webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
	animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
	-webkit-animation-delay: -1.1s;
	animation-delay: -1.1s;
}

.spinner .rect3 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

.spinner .rect4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}

.spinner .rect5 {
    -webkit-animation-delay: -0.8s;
  	animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  	0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
  	20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
    0%, 40%, 100% { 
    	transform: scaleY(0.4);
        -webkit-transform: scaleY(0.4);
    }  20% { 
    	transform: scaleY(1.0);
        -webkit-transform: scaleY(1.0);
  }
}

/* END Spinner */

/* Custom errors */

#error-logo-link{
	position: relative !important;
	display: inline !important;
	margin: 0 auto !important;
}

#error-header-text{
	margin-top: 50px;
}

#error-action{
	margin-top: 30px;
	margin-bottom: 50px;
}

#error-action > h4{
	margin-bottom: 20px;
}

.error-center-content{
	margin-left: 20%;
	margin-right: 20%;
}

/* END Custom errors */

/* Boostrap customization */

#main-container{
	/* Expand Boostrap container 100% */
	padding-left: 0px;
	padding-right: 0px;
}

.btn-primary, .btn-danger, .btn-success, .btn-info, .btn-warning, .navbar-btn, .btn-block{
	/* Make btn-xxx turn roboto white */
	color: #fff !important;
	font-family: 'roboto-light' !important;
}

.btn-primary{
	/* Make btn-primary flat square */
	background-image: none !important;
	border-color: transparent !important;
	box-shadow: none !important;
	border-radius: 0px !important;
}

.btn-danger{
	/* Make btn-primary flat square */
	background-image: none !important;
	border-color: transparent !important;
	box-shadow: none !important;
	border-radius: 0px !important;
}

.btn-default{
	/* Make btn-default flat square */
	background-image: none !important;
	border-color: transparent !important;
	box-shadow: none !important;
	border-radius: 0px !important;
	color: gray !important;
}

.btn-disabled{
	box-shadow: none !important;
	cursor: not-allowed !important;
	opacity: 0.65 !important;
}

.panel{
	/* Make panel-primary flat square */
	border-radius: 0px !important;
}

.panel-primary > .panel-heading{
	/* Make panel-primary flat square */
	background-image: none !important;
	border-top-left-radius: 0px !important;
	border-top-right-radius: 0px !important;
}

.panel-default > .panel-heading{
	/* Make panel-primary flat square */
	background-image: none !important;
	border-top-left-radius: 0px !important;
	border-top-right-radius: 0px !important;
}

.nav-pills > li{
	/* Make pills-primary flat square */
    color: #337ab7 !important;
    font-family: 'roboto-light' !important;
}

.nav-pills > li.active{
	/* Make pills-primary flat square */
    color: white !important;
}

.nav-pills > li > a{
	/* Make pills-primary flat square */
    border-radius: 0px !important;
}

.progress{
	/* Make progress-bar-primary flat square */
	border-radius: 0px !important;
}

.progress-bar{
	/* Make progress-bar-primary flat square */
	background-image: none !important;
}

.alert{
	/* Make alert flat square */
	border-radius: 0px !important;
	margin-bottom: 0px !important;
	color: white !important;
}

.alert-success{
	/* Make alert-success flat square */
	background-image: none !important;
	border-color: transparent !important;
	background-color: #5cb85c !important;
}

.alert-danger{
	/* Make alert-danger flat square */
	background-image: none !important;
	border-color: transparent !important;
	background-color: #d9534f !important;
}

.alert-warning{
	/* Make alert-danger flat square */
	background-image: none !important;
	border-color: transparent !important;
	/* background-color: #fcf8e3 !important; */
	background-color: #cec700 !important;
}

.list-group{
	/* Make list-primary flat square */
	margin-bottom: 0px !important;
	border-radius: 0px !important;
}

.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
	/* Make list-primary flat square */
    background-image: none !important;
    border-color: transparent !important;
}

.list-group-item:first-child {
	/* Make list-primary flat square */
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
}

.list-group-item:last-child {
	/* Make list-primary flat square */
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}

.row-no-space, .cell-no-space{
	/* Make row and col to use all space available */
	margin: 0px !important;
	padding: 0px !important;
}

.row-white-border{
	border-color: white !important;
	border-width: 5px !important;
	border-style: solid !important;
	margin-right: 5px !important;
}

.row-small-padding-vertical{
	padding-top: 5px;
	padding-bottom: 5px;
}

.row-medium-padding-vertical{
	padding-top: 15px;
	padding-bottom: 15px;
}

/* END Boostrap customization */

/* About us */

#about-us-page-container{
	padding-left: 40px;
	padding-right: 40px;
}

/* END About us */

/* Footer */
#footer{
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 40px;
	background-color: #337ab7;
	color: white;
	margin-top: 0px;
}

#footer a{
	color: white;
	text-decoration: none;
}

#footer a:hover{
	background-color: #337ab7;
}

.footer-social-icon{
	width: 48px;
	height: 48px;
}

#footer-logo-container{
	padding-top: 1.8% !important;
}

/* END Footer */

/* Messages and Notifications */

.flash-messages-container .flash-message{
	margin-bottom: 0px !important;
}

#notification-messages-container{
	position: fixed;
	left: 0px;
	top: 51px;
	width: 100%;
}

#current-message-container .translated-text > footer{
	color: white !important;
}

/* END Messages and Notifications */

/* Home banner */

.carousel-caption a{
	margin-top: 30px;
	margin-bottom: 10px;
	font-size: 30px !important;
}

/* END Home banner */

/* Home page */

.btn-home{
	color: #fff !important;
	background-color: transparent;
	cursor: pointer;
    display: inline-block;
    font-size: 20px;
    font-weight: normal;
    line-height: 1.42857;
    margin-bottom: 0;
    padding: 10px 20px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    text-decoration: none;
    border: 3px solid white;
}

.btn-gallery:hover{
	background-color: transparent;
	border-color: black;
	color: black !important;
	text-decoration: none;
}

.img-full{
	width: 100% !important;
}

#home-line-users-amounts-container-auth-true{
	/* Section count of user line */
	height: 80px;
	background-color: #0071bc;
	color: white;
}

#home-line-users-amounts-container-auth-true h2{
	/* Section count of user line */
	font-size: 35px;
}

#home-line-users-amounts-container-auth-false{
	/* Section count of user line */
	height: 80px;
	background-color: white;
	color: #0071bc;
}

#home-line-users-amounts-container-auth-false h2{
	/* Section count of user line */
	font-size: 35px;
}

#models-container{
	/* Section models */
	background-color: white;
}

#models-container > #models-header{
	height: 70px;
}

#models-container > #models-header > h2{
	color: #0071bc;
	padding-top: 0px !important;
	padding-bottom: 0px !important;
	margin-top: 0px !important;
	margin-bottom: 0px !important;
	line-height: 70px;
}

#models-btn-see-all{
	position: absolute;
	top: 85%;
	left: 84%;
}

#models-btn-new-face{
	position: absolute;
	top: 85%;
	left: 7%;
}

#models-btn-professional{
	position: absolute;
	top: 85%;
	left: 31%;
}

#models-btn-premium{
	position: absolute;
	top: 85%;
	left: 57%;
}

#models-btn-search{
	position: absolute;
	top: 87%;
	left: 48%;
}

#learn-profile-btn-learn{
	position: absolute;
	top: 70%;
	left: 45%;
}

#photographers-container{
	/* Section photographers */
	background-color: white;
}

#photographers-container > #photographers-footer{
	position: absolute;
	top: 70%;
	left: 45%;
}

#us-container{
	background-color: white;
}

#us-container > #us-body{
	position: absolute;
	top: 5%;
	left: 5%;
	color: #0071bc;
	padding-right: 5%; 
}

#us-container > #us-footer{
	position: absolute;
	top: 45%;
	left: 43%;
}

#articles-container{
	background-color: white;
	padding-bottom: 30px;
}

#articles-container > #articles-header > p{
	color: #0071bc;
	padding-top: 30px !important;
	padding-bottom: 0px !important;
	margin-top: 0px !important;
	margin-bottom: 0px !important;
	line-height: 100px !important;
	font-size: 40px;
}

.article-row{
	padding: 10px 40px !important;
}

.article-cell{
	padding: 10px 50px !important;
}

.article-container{
	padding: 10px 20px !important;
}

.article-logo{
	padding: 20px !important;
	margin-bottom: 5px;
}

.article-title{
	color: #0071bc;
	font-size: 20px;
	margin-top: 30px;
	margin-bottom: 5px;
}

.article-extraction{
	color: #0071bc;
	font-size: 18px;
	margin-bottom: 30px;
}

.btn-article{
	color: #337ab7 !important;
	background-color: transparent;
	cursor: pointer;
    display: inline-block;
    font-size: 22px;
    font-weight: normal;
    line-height: 1.42857;
    margin-bottom: 0;
    padding: 10px 20px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    text-decoration: none;
    border: 3px solid #337ab7;
}

.btn-article:hover{
	background-color: transparent;
	border-color: black;
	color: black !important;
	text-decoration: none;
}

#follow-container{
	background-color: #337ab7;
}

#follow-container > #follow-header > h2{
	color: white;
	padding-top: 10px !important;
	padding-bottom: 5px !important;
	margin-top: 0px !important;
	margin-bottom: 0px !important;
	line-height: 100px !important;
}

.section-social-icon{
	width: 64px;
	height: 64px;
}

#section-social-icons-container{
	padding-bottom: 20px;
}

#gallery-home-container{
	background-color: white;
}

#gallery-home-container > #gallery-home-footer{
	position: absolute;
	top: 85%;
	left: 35%;
}

.btn-home:hover{
	background-color: transparent;
	border-color: black;
	color: black !important;
	text-decoration: none;
}

.btn-gallery{
	color: #fff !important;
	background-color: transparent;
	cursor: pointer;
    display: inline-block;
    font-size: 34px;
    font-weight: normal;
    line-height: 1.42857;
    margin-bottom: 0;
    padding: 10px 20px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    text-decoration: none;
    border: 3px solid white;
}

/* END Home page */

/* Gallery */

#gallery-container{
	margin-left: 5% !important;
	margin-right: 5% !important;
	padding-top: 30px;
	padding-bottom: 30px;
}

#gallery-img-list{
	margin-top: 30px;
	padding-top: 3px;
	padding-bottom: 3px;
	border-top: 2px solid #e7e7e7;
	border-bottom: 2px solid #e7e7e7;
}

.img-gallery-preview{
	margin: 5px;
}

.img-gallery{
	height: 200px !important;
}

.img-show-gallery{
}

.img-gallery-wrapper{
	display: inline-block;
}

/* END Gallery */

/* Contact page */

#contact-left-text{
	display: inline-block;
	position: absolute;
	top: 47%;
	left: 7%;
}

#contact-left-text p{
	color: white;
	font-size: 35px;
}

#contact-left-text a{
	color: white;
	font-size: 35px;
}

#contact-right-text{
	display: inline-block;
	position: absolute;
	top: 5%;
	right: 3%;
}

#contact-right-text p{
	color: white;
	font-size: 35px;
}

/* END Contact page */

/* Help page */

#help-center-container p, #help-center-container a, #help-center-container footer, #help-center-container li{
	font-size: 18px;
}

/* END Help page */

/* Profile example page */

#profile-example-container p, #profile-example-container footer{
	font-size: 18px;
}

#profile-example-container blockquote{
	border-left: 0px solid transparent !important;
}

.profile-example-album-photo-container{
	width: 800px;
}

/* END Profile example page */

/* Navbar */

#navbar-signed-in-settings-container{
	/* Navbar user signed in container, add some right Add padding */
	padding-right: 10px;
}

.navbar-default{
	/* Make navbar flat square */
	background-image: none !important;
	background-color: #f8f8f8 !important;
}

#navbar-admin-email{
	margin-right: 20px;
}

#navbar-ul{
	font-size: 18px;
}

.navbar-btn-custom-extra{
	margin-left: 5px;
}

#navbar-form-email{
	width: 180px;
}

#navbar-form-pwd{
	width: 170px;
}

/* END Navbar */

/* Forms and Tables */

.well-form{
	margin-top: 30px;
}

.well-small{
	margin-left:40%;
	margin-right:40%;
}

.well-medium{
	margin-left:30%;
	margin-right:30%;
}

.well-large{
	margin-left:20%;
	margin-right:20%;
}

.form-border{
	border: 2px solid #e7e7e7;
	margin-bottom: 5px;
}

.well-border{
	border: 2px solid #e7e7e7;
	margin-bottom: 5px;
	padding: 20px;
}

.form-wrapper-small{
	padding-left: 30px;
	padding-right: 30px;
	padding-bottom: 30px;
	padding-top: 30px;
}

.form-wrapper-medium{
	padding-left: 50px;
	padding-right: 50px;
	padding-bottom: 50px;
	padding-top: 30px;
}

.form-wrapper-large{
	padding-left: 70px;
	padding-right: 70px;
	padding-bottom: 70px;
	padding-top: 30px;
}

.field_with_errors{
	/* Form fields with errors turn red */
	padding: 0px !important;
  	background-color: transparent !important;
  	display: inline !important;
}

.field_with_errors label{
	/* Form fields with errors turn red */
	color: #a94442;
}

.field_with_errors .form-control{
	/* Form fields with errors turn red */
	border-color: #a94442;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}

.field_with_errors .form-control:focus{
	/* Form fields with errors turn red */
	border-color: #843534;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 6px #ce8483;
}

.field_with_errors select{
	/* Form fields with errors turn red */
	border-color: #a94442;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}

.field_with_errors select{
	/* Form fields with errors turn red */
	border-color: #843534;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 6px #ce8483;
}

/* END Forms and Tables */

/* Profile */

#profile-main-menu-container{
	/* Add padding to profile menu */
	padding-left: 15%;
	padding-right: 15%;
	padding-bottom: 10px;
}

#profile_model_current_province_id{
	/* Add 100% width to select province */
	width: 100% !important;
}

#profile_model_nationality_id{
	/* Add 100% width to select nationality */
	width: 100% !important;
}

.profile-album-photos-container{
	/* Adding scrollable area to album container */
	max-height: 300px;
	overflow-y: scroll;
}

.panel-study{
	margin-bottom: 5px !important;
}

.row-profile-container{
	margin-left: 10% !important;
	margin-right: 10% !important;
}

.profile-section{
	border-style: solid;
	border-width: 1px;
	border-color: #e7e7e7;
	margin-top: 5px;
	margin-bottom: 5px;
	padding: 10px !important;
}

.nav-profile{
	width: inherit !important;
}

#profile-photo-selected-container{
}

.profile-photo-selected{
}

#profile-photos-selected{
	min-height: 200px;
}

.profile-section > .item{
	position: relative;
    transition: left 0.6s ease-in-out 0s;
}

.row-profile-imgs{
	padding: 1px !important;
}

.col-profile-imgs:nth-child(2){
	padding-left: 2px;
	padding-right: 2px;
}

.col-profile-imgs:first-child{
	padding-right: 2px !important;
}

.col-profile-imgs:last-child{
	padding-left: 2px !important;
}

.profile-photo{
	margin: 3px !important;
}

.profile-value{
	font-size: 14px;
}

#profile-first-name{
	margin-top: 0px !important;
	margin-bottom: 0px !important;
}

#review-form{
	padding-left: 5%;
	padding-right: 5%;
}

#form-search-container{
	margin: 20px;
	padding: 20px;
	border-style: solid;
	border-width: 1px;
	border-color: #e7e7e7;
}

.profile-study-short{
	margin-bottom: 10px;
	padding: 3px;
	padding-left: 10px;
	border-left: 5px solid #eeeeee; 
}

.text-before::before{
    content: "— ";
}

#btn-upgrade-level{
	margin-left: 30%;
}

.img-wrapper{
	position: relative !important;
}

.profile-status{
	position: absolute;
	top: 0px;
	right: 0px;
}

.premium-border{
	border: solid 2px #d6d02e;
}

/* END Profile */

/* Dates */

.small-date{
	font-size: 10px;
}

/* END Dates */

/* Dropzone */

.dropzone{
	border: 2px dashed #0087f7 !important;
}

/* END Dropzone */

/* Modal */

#photo-modal-large{
	/* Show photo wide */
	width: auto;
	margin-left: 100px;
	margin-right: 100px;
}

#photo-modal-medium{
	/* Show photo wide */
	width: auto;
	margin-left: 150px;
	margin-right: 150px;
}

#photo-modal-small{
	/* Show photo wide */
	width: auto;
	margin-left: 200px;
	margin-right: 200px;
}

/* END Modal */

/* Index images list */

#img-list-container{
	/* Add padding to images list */
	padding: 20px;
}

.list-photo-item{
	/* Add margin-right to image in images list */
	margin-right: 20px;
}

a.link-image:hover{
	/* Images no hover */
	background-color: transparent !important;
	border-color: transparent !important;
	color: transparent !important;
}

/* END Index images list */

/* Center content */

.img-center-horizontal{
	margin: 0 auto !important;
}

.btn-center-horizontal{
	margin: 0 auto !important;
}

.content-center-horizontal{
	margin: 0 auto !important;
}

.content-vertical-align{
	display: flex !important;
	align-items: center !important;
}

.img-vertical-align{
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

.container-min-height{
	min-height: 450px;
}

/* END Center content */

.img-focus:hover{
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 6px #337ab7; 
}

/* Inbox */

.message-created-at{
	font-size: 12px;
	margin-left: 5px;
}

#messages-container{
	margin-bottom: 30px;
}

#inbox-actions-container{
	background-color: #e7e7e7;
	padding: 10px 20px;
	margin-bottom: 20px;
}

#messages-list-container{
	max-height: 450px;
	overflow-y: scroll;
}

.inbox-message-unreaded-bkg{
	background-color: #e7e7e7 !important;
}

#current-message-container{
	padding: 20px 40px;
	min-height: 450px;
	max-height: 450px;
	overflow-y: scroll;
}

#current-message-container p{
	font-size: 20px !important;
}

#current-message-container .message-section{
	margin-bottom: 40px;
}

#current-message-container button{
	margin-top: 50% !important;
}

.glyphicon-trash-blue{
	color: #337ab7 !important;
}

.message-header{
	padding: 15px;
}

/* END Inbox */

/* Booking */

#form-new-booking-wrapper{
	margin-top:5%;
	margin-left:10%;
	margin-right:10%;
}

#form-booking-container{
	margin-top: 40px;
	margin-left:15%;
	margin-right:15%;
}

.confirmed-bkg{
	background-color: #e8e8e8;
}

/* END Booking */

/* Casting */

#casting_access_type{
	width: 95% !important;
}

#payment-per-model-sugestion-text{
	margin-top: 5px;
}

#form-new-casting-wrapper, #form-casting-photos-wrapper{
	margin-top:5%;
	margin-left:10%;
	margin-right:10%;
}

#invite-castings-wrapper{
	margin-top:5%;
	margin-left:30%;
	margin-right:30%;
}

#form-casting-container{
	margin-top: 40px;
	margin-left:15%;
	margin-right:15%;
}

#list-castings-container{
	margin: 20px 20% !important;
}

#list-castings-load-more{
	padding: 20px 10px;
	margin: 10px 10px;
}

.single-casting-container{
	padding: 20px 40px;
	border-style: solid;
	border-width: 2px;
	border-color: #e7e7e7;
}

.single-casting-container p{
	font-size: 16px;
}

.single-casting-container a{
	margin-right: 5px;
}

.casting-title{
	margin-bottom: 20px;
}

.model-bottom-actions{
	margin-top: 20px !important;
	margin-bottom: 10px;
}

.btn-small-right-margin{
	margin-right: 5px !important;
}

.img-inline{
	display: inline-block;
}

.div-inline{
	display: inline-block;
	margin-right: 3px;
}

.link-inline{
	display: inline-block;
	margin-right: 3px;
}

.small-gray-text{
	color: #777777;
    font-size: 90% !important;
}

#manage-casting-container{
	margin-bottom: 30px;
}

#actions-container{
	background-color: #e7e7e7;
	padding: 10px 20px;
	margin-bottom: 20px;
}

#list-container{
	padding: 50px 10px;
	background-color: #e7e7e7;
}

#current-list-item-container{
	padding: 20px 40px;
	min-height: 450px;
	max-height: 450px;
	overflow-y: scroll;
}

#empty-list-text-container{
	margin-top: 10%;
}

#models-invite-load-more{
	margin-top: 40px;	
}

.translated-text{
	font-size: 17.5px;
    margin: 0 0 20px;
    padding: 10px 20px;
}

.translated-text .title{
	font-size: 25px;
}

.translated-text p{
	font-size: 20px;
}

.translated-text footer{
	color: #777777;
    display: block;
    font-size: 80%;
    line-height: 1.42857;
}

.translated-text footer::before{
    content: "— ";
}

.tag{
	margin-left: 3px;
	padding: 5px;
	border-style: solid;
	border-width: 2px;
	border-color: #e7e7e7;
}

#dates-warning-text{
	padding-top: 5px;
	padding-bottom: 5px;
	margin-bottom: 20px !important; 
}

#casting-reviews-container{
	margin-top: 20px;
	margin-left: 15%;
	margin-right: 15%;
}

#casting-models-reviews-container{
	margin-top: 40px;
	margin-left: 25%;
	margin-right: 15%;
}

/* END Casting */

/* For Nomenclators */ 
.panel-nomenclator{
	margin:30px;
}

.panel-body-nomenclator{
	padding-left:100px;
	padding-right:100px;
}

.panel-table{
	margin:30px;
}

.panel-body-table{
	padding-left:100px;
	padding-right:100px;
}

/* Admin */

.admin-margin-medium{
	margin: 50px !important;
}

#values_how_many{
	width: 100px !important;
}

#values_amount{
	width: 100px !important;
}

/* END Admin */

/* Coupons */

.coupon-section{
	width: 70px !important;
}

/* END Coupons */



