@font-face{
	font-family: 'roboto-regular';
	src: asset-url('Roboto-Regular.eot');
	src: asset-url('Roboto-Regular.eot?#iefix') format('embedded-opentype'),
		 asset-url('Roboto-Regular.woff') format('woff'),
		 asset-url('Roboto-Regular.ttf') format('truetype'),
		 asset-url('Roboto-Regular.svg#roboto-regular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face{
	font-family: 'roboto-light';
	src: asset-url('Roboto-Light.eot');
	src: asset-url('Roboto-Light.eot?#iefix') format('embedded-opentype'),
		 asset-url('Roboto-Light.woff') format('woff'),
		 asset-url('Roboto-Light.ttf') format('truetype'),
		 asset-url('Roboto-Light.svg#roboto-light') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face{
	font-family: 'roboto-thin';
	src: asset-url('Roboto-Thin.eot');
	src: asset-url('Roboto-Thin.eot?#iefix') format('embedded-opentype'),
		 asset-url('Roboto-Thin.woff') format('woff'),
		 asset-url('Roboto-Thin.ttf') format('truetype'),
		 asset-url('Roboto-Thin.svg#roboto-thin') format('svg');
	font-weight: normal;
	font-style: normal;
}