<div class="row">
  <div class="col-md-12">
  	<div class="well well-form well-medium">
  		<h3 class="text-center"><%= t('views.provinces.edit.header_text') %></h3>
	  	<%= render 'form', province: @province %>

		<%= link_to t('forms.buttons.back'), provinces_path, class: "btn btn-primary pull-right" %>
		<%= link_to t('forms.buttons.show'), @province, class: "btn btn-primary pull-right btn-small-right-margin" %>
      <div class="clearfix">...</div>
  	</div>
  </div>
</div>
