<div class="row">
	<div class="col-md-12 col-xs-12">
		<div id="btn-randomize-list-models" class="text-center">
			<%= link_to t('forms.buttons.randomize'), index_random_profile_models_path, remote: true, class: "btn btn-primary btn-lg show-spinner" %>
		</div>
		<div id="list-models-random-container">
			<%= render 'list_models_random' %>
		</div>
	</div>
</div>