<div class="row">
	<div class="col-md-12">
		<div id="form-search-container">
			<%= render 'form_search' %>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<div class="container-min-height" id="img-list-container">
			<%= render 'list_models', models: @models %>
		</div>
		<div id="modal-container" class="modal fade"></div>
	</div>
</div>