<% if @review.errors.any? %>
  <div class="alert alert-danger alert-messages-box">
    <%= t('forms.errors.header_text') %> <%= pluralize(@review.errors.count, "error") %>.
    <ul>
    <% @review.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>