<div class="row">
  <div class="col-md-12">
  	<div class="well well-form well-medium">
  		<h3 class="text-center"><%= t('views.nationalities.new.header_text') %></h3>
	  	<%= render 'form', nationality: @nationality %>

		<%= link_to t('forms.buttons.back'), nationalities_path, class: "btn btn-primary pull-right" %>
      <div class="clearfix">...</div>
  	</div>
  </div>
</div>
