<div class="alert alert-danger alert-dismissible alert-messages-box text-center" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">
      &times;
    </span>
  </button>
  <%= t('views.static_pages.home.beta_version_coming_soon_text') %>.
</div>