<div id="footer">
	<div class="row">
		<div class="col-md-3">
			<address>
			  <strong>Twitter, Inc.</strong><br>
			  1355 Market Street, Suite 900<br>
			  San Francisco, CA 94103<br>
			  <abbr title="Phone">P:</abbr> (123) 456-7890
			</address>
		</div>
		<div class="col-md-3">
			<ul class="list-unstyled">
				<li><a href="#">Contact Us</a></li>
				<li><a href="#">Help</a></li>
				<li><a href="#">Models</a></li>
				<li><a href="#">Photographers</a></li>
				<li><a href="#">Payment</a></li>
			</ul>
		</div>
		<div class="col-md-3">
			<ul class="list-unstyled">
				<li><a href="#">Contact Us</a></li>
				<li><a href="#">Help</a></li>
				<li><a href="#">Models</a></li>
				<li><a href="#">Photographers</a></li>
				<li><a href="#">Payment</a></li>
			</ul>
		</div>
		<div class="col-md-3">
			<ul class="list-unstyled">
				<li><a href="#">Contact Us</a></li>
				<li><a href="#">Help</a></li>
				<li><a href="#">Models</a></li>
				<li><a href="#">Photographers</a></li>
				<li><a href="#">Payment</a></li>
			</ul>
		</div>
	</div>
</div>