<div id="carousel-banner-home-page" class="carousel slide" data-interval="5000" data-ride="carousel">
	<!-- Indicators -->
	<ol class="carousel-indicators">
		<li data-target="carousel-banner-home-page" data-slide-to="0" class="active"></li>
		<li data-target="carousel-banner-home-page" data-slide-to="1"></li>
		<li data-target="carousel-banner-home-page" data-slide-to="2"></li>
	</ol>

	<!-- Wrapper for slide -->
	<div class="carousel-inner" role="listbox">

		<!-- Slide 0 -->
		<div class="item active">
			<%= image_tag "banner_home_page.jpg", alt: "Banner Home Page" %>
			<div class="carousel-caption">
				<h3>bala ajfask sajfdfj</h3>
				<a class="btn btn-primary btn-large pull-right" href="#">Click Here</a>
			</div>
		</div>

		<!-- Slide 1 -->
		<div class="item">
			<%= image_tag "banner_home_page.jpg", alt: "Banner Home Page" %>
		</div>

		<!-- Slide 2 -->
		<div class="item">
			<%= image_tag "banner_home_page.jpg", alt: "Banner Home Page" %>
		</div>

	</div>

	<!-- Controls -->
	<a class="left carousel-control" href="#carousel-banner-home-page" role="button" data-slide="prev">
		<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
		<span class="sr-only">Previous</span>
	</a>
	<a class="right carousel-control" href="#carousel-banner-home-page" role="button" data-slide="next">
		<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
		<span class="sr-only">Next</span>
	</a>
</div>