<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container-fluid">
		<div class="navbar-header">
			<%= link_to root_path, class: "navbar-brand" do %>
				<%= image_tag "logo_navbar.gif", size:"64x30", alt: "Logo" %>
			<% end %>
		</div>

		<ul class="nav navbar-nav">
			<li><a href="#services-container">Services</a></li>
			<li><a href="#us-container">About us</a></li>
			<li><a href="#partners-container">Partners</a></li>
			<li><a href="#models-container">Models</a></li>
			<li><a href="#photographers-container">Photographers</a></li>
			<li><a href="#cuba-container">Discover</a></li>
		</ul>
		<% if user_signed_in? %>
			<%= render 'layouts/signed_in_true' %>
		<% else %>
			<%= render 'layouts/signed_in_false' %>
		<% end %>
	</div>
</nav>