<div class="alert alert-danger alert-dismissible alert-messages-box text-center" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">
      &times;
    </span>
  </button>
  <%= t('views.static_pages.home.provide_profile_text') %>. <%= link_to t('views.static_pages.home.provide_profile_link_text'), get_profile_path, class: "btn btn-primary btn-lg" %>
</div>