<div id="navbar-signed-in-settings-container" class="navbar-right">
	<% if current_user.profileable.nil? %>
		<p class="navbar-text"> Signed in as <%= link_to current_user.email, new_profile_model_path %>
	</p>
	<% else %>
		<p class="navbar-text"> Signed in as <%= link_to current_user.email, edit_profile_model_path(current_user.profileable) %>
	<% end %>
	<div class="btn-group">
	  <button type="button" class="btn btn-default" aria-label="Left Align">
	    <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
	  </button>
	  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	    <span class="caret"></span>
	    <span class="sr-only">Toggle Dropdown</span>
	  </button>
	  <ul class="dropdown-menu">
	    <li><a href="#">Action</a></li>
	    <li><a href="#">Another action</a></li>
	    <li><a href="#">Something else here</a></li>
	    <li role="separator" class="divider"></li>
	    <li>
    		<%= link_to 'Log out', destroy_user_session_path, method: :delete %>
	    </li>
	  </ul>
	</div>
	<%= link_to 'Log out', destroy_user_session_path, method: :delete, class: "btn btn-success navbar-btn" %>
</div>