<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      /* Email styles need to be inline */
      .header{
      	width: 100%;
      	background-color: #337ab7;
      	padding: 40px 20px;
      }

      .text-center{
      	text-align: center;
      }

      .text-white{
      	color: #fff;
      }

      .btn{
      	color: #fff;
      	background-color: #337ab7;
      	cursor: pointer;
  	    display: inline-block;
  	    font-size: 18px;
  	    font-weight: normal;
  	    line-height: 1.42857;
  	    margin-bottom: 0;
  	    padding: 12px 24px;
  	    text-align: center;
  	    vertical-align: middle;
  	    white-space: nowrap;
  	    text-decoration: none;
  	    float: right;
  	    margin-right: 5px;
      }

      .clear{
      	clear: both;
      }
    </style>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
